//Définition variables globale //
$colorTexte: #FACA43;
$backgroundColorHeaderFooter: #569C87;
$backgroundMenuEnchantee : #FADFDB;
$backgroundMenuChic: #FDF5FF;
$backgroundMenuDelice: #F8F8F9;
$backgroundMenuGout: #FDFFFD;
$bordOmbreCarteMenu: #B0BEC5;


@mixin decoTitreChic{
    font-family: "Dancing Script";
    background-image: radial-gradient(circle at top left,#C77427, #8E57FC);   
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text;
    color: transparent;
}
@mixin decoTitreDelice{
    font-family: "Dancing Script";
     background-image: radial-gradient(circle at bottom right,#3B99F9, #0F23D2);   
     -webkit-background-clip: text;
     -moz-background-clip: text; 
      background-clip: text;
      color: transparent;
}
@mixin decoTitreGout{
    font-family: "Dancing Script";
    background-image: linear-gradient(to right, #38842C, #AFF76C);   
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text;
    color: transparent;
}
@mixin zoomAccueil {
    :hover{
    transition-duration: .3s;
    transform: scale(1.4);
    }
}
@mixin formMenuH1{
    text-align: center;
    font-size: 3em;
}
body {
    width: 98%;
    margin: auto;
    font-size: 10px;
    margin-top: 10px;
    border-top: 10px solid red;
  }
header{
    padding: 3%;
    background-color:$backgroundColorHeaderFooter;
    color: $colorTexte;
    text-align: center;
    font-size: 3em;
    margin-bottom: 2%;
} 
#contenairePageAccueil{
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
}
.elementContenairePageAccueil{
    display: flex;
    width: 20vh;
    height: 32vh;
    margin: 4%;
    font-size: 1.2em;
    box-shadow: 4px 4px 0 0 $bordOmbreCarteMenu;
    box-shadow: 0 0 4px 4px $bordOmbreCarteMenu;
}
.elementContenairePageAccueil img{
    width: 20%;
}
.elementContenairePageAccueil a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
}

/*decoration accueil des menus */
#decoMenuEnchantee{
    background-color: $backgroundMenuEnchantee;
    color: #2D0E14;
    .spanMenuEnchanteeBas{
        color: #263238;
        margin: top;
    }
}
#decoMenuChic{
    background-color: $backgroundMenuChic;
    .spanMenuChicBas{
        color: #B75D1E;
        margin-top: 2%;
        }
}
#decoMenuDelice{
    background-color: $backgroundMenuDelice;
    .spanMenuDeliceBas{
        color: #156FFA;
        margin-top: 2%;
        font-family: "Dancing Script";
        }
}
#decoMenuGout{
    background-color: $backgroundMenuGout;
    .spanMenuGoutBas{
        color: #64B645;
        margin-top: 2%;
        font-family: "Dancing Script";
        }
}
.spanMenuEnchanteeTitre{
    color: #263238;
    @include zoomAccueil;
}
.spanMenuChicTitre{
    @include decoTitreChic;
    @include zoomAccueil;
}
#ContenuPageMenuChic h1{
    @include decoTitreChic;
    @include formMenuH1;
}
.spanMenuDeliceTitre{
    @include decoTitreDelice;
    @include zoomAccueil;
}
#ContenuPageMenuDelice h1{
    @include decoTitreDelice;
    @include formMenuH1;
}
.spanMenuGoutTitre{
    @include decoTitreGout;
    @include zoomAccueil;
}
#ContenuPageMenuPalette h1{
    @include decoTitreGout;
    @include formMenuH1;
}
/*bouton prochainement */
#contenaireBoutonProchainement{
    width: 100%;
    margin-top: 2%;
}
.bouton{
    width: 25%;
    padding: 1%;
    margin: auto;
    text-align: center;
    cursor: pointer;
    background-color: $backgroundColorHeaderFooter;
    border-radius: 5%;
    color: $colorTexte; 
    font-size: 1.3em;
}
.element1-boutonProchainement{
    width: 70%;
    float: left;
    }
    .loading:after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;     
        animation: ellipsis steps(4,end) 900ms infinite;
        content: "\2026"; /* ascii code for the ellipsis character */
        width: 0px;
        }
        /*keyframes petits points*/
        @keyframes ellipsis {
                to {
                width: 1.25em;    
                }
            }
/* pied de page */
footer{
    margin-top: 2%;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;        
    background-color: $backgroundColorHeaderFooter;
        a{
            text-decoration: none;
            color: $colorTexte;
         }
}
.elementFooter{
    flex-basis: 30%;
    text-align: center;
    padding: 1%;
    font-size: 1.2em;
}
.elementFooter:hover {
  -webkit-animation-name: wiggle;
  -webkit-animation-duration: 400ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}
@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}


/* page menu seul */
nav{
    margin-bottom: 2%;
}
nav a{
    text-decoration: none;
    color: #000000;
}
.fa-arrow-circle-left{
    margin-left: 4%; 
}

#ContenuPageMenuPalette,#ContenuPageMenuEnchantee, #ContenuPageMenuChic,#ContenuPageMenuDelice{
    width: 98%;
    margin: auto;
    border: 2px solid #B0BEC5;
}
#ContenuPageMenuChic{
    background-color: $backgroundMenuChic;
}
#ContenuPageMenuEnchantee{
    background-color: $backgroundMenuEnchantee;
}
#ContenuPageMenuDelice{
    background-color: $backgroundMenuDelice;
}
#ContenuPageMenuPalette{
    background-color: $backgroundMenuGout;
    font-family: "Caveat";
    font-size: 1.5em;
}
.imagePageMenuSeul{
    width: 15%;
    margin: auto;
}
.imagePageMenuSeul img{
    width: 100%;
}
.contenaireTitre-detailPageMenuSeul {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    justify-content: space-around;
    font-size: 1em;
}
.element_contenaireTitre-detailPageMenuSeul{
    flex-basis: 33%;
    font-size: 1em;
}
.element_contenaireTitre-detailPageMenuSeul img{
    max-width: 60%;
}
.element-detailPageMenuSeul:nth-child(1),.element-detailPageMenuSeul:nth-child(3),.element-detailPageMenuSeul:nth-child(5),.element-detailPageMenuSeul:nth-child(7){
    flex-basis: 80%;
    display: flex;
    font-size: 1em;
}   
.element3-detailPageMenuSeul{
    display: flex;
    flex-basis: 90%;
}


/* couleurs sur les pages */
.colorMenuChic-partie1{
    color: #B75D1E;
}
.colorMenuChic-partie2{
    color: #935087;
}
.colorMenuChic-partie3{
    color: #5A2FC0;
}

/*page mentions*/
#contenairePageMentions{
    padding: 1%;
}
#contenairePageMentions h1{
    font-size: 2.5em;
    font-weight: normal;
} 
#contenairePageMentions p{
    text-align: justify;
    font-size: 1.5em;
}
#contenairePageMentions h3{
    text-align: center;
    font-size: 2em;
}

.decoh1 h1{
    text-decoration: underline;
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
body {
    width: 98%;
    margin: auto;
    font-size: 10px;
    margin-top: 10px;
    border-top: 10px solid green;
  }
#contenairePageAccueil{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
body {
    width: 98%;
    margin: auto;
    font-size: 10px;
    margin-top: 10px;
    border-top: 10px solid blue;
  }  
#contenairePageAccueil{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
}
.elementContenairePageAccueil{
    display: flex;
    width: 24vh;
    height: 32vh;
    margin: 4%;
    font-size: 1.2em;
    box-shadow: 4px 4px 0 0 #B0BEC5;
    box-shadow: 0 0 4px 4px #B0BEC5;
}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
body {
    width: 98%;
    margin: auto;
    font-size: 10px;
    margin-top: 10px;
    border-top: 10px solid orange;
  }
#contenairePageAccueil{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    }
} 
.elementContenairePageAccueil{
    display: flex;
    width: 28vh;
    height: 34vh;
    margin: 2%;
    font-size: 1.2em;
    box-shadow: 4px 4px 0 0 #B0BEC5;
    box-shadow: 0 0 4px 4px #B0BEC5;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
body {
    width: 98%;
    margin: auto;
    font-size: 10px;
    margin-top: 10px;
    border-top: 10px solid pink;
  }
#contenairePageAccueil{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
}
}