//Définition variables globale //
$color-texte: #ffff00;
$background-color-header-footer: #008000;
$background-page: #EEEEEE;
// Small devices (landscape phones, 576px and up)
//@media (max-width: 576px) {}
  body {
    width: 98%;
      margin: auto;
    font-size: 10px;
    background-color: $background-page;
  }
    
  header {
    color: $color-texte;
    background-color: $background-color-header-footer;
    padding: 5%;
    text-align: center;
    font-size: 3em;
    margin-bottom: 2%;
  }
    
    #contenuPage{
        padding: 1%;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        font-size: 3em;
        background-color: $background-page;
    }
    #contenuPage a{
        text-decoration: none;
        color: $background-color-header-footer;
    }
    .menu_contenuPage{
        display: flex;
        width: 46%;
        padding: 2%;
        justify-content: space-around;
        img{
            max-width: 90%
        }
    }

  #contenuFooter{
        font-size: 1.5em;
        display: flex;
        justify-content: space-around;
        background-color: $background-color-header-footer;
      a{
          text-decoration: none;
          color: $color-texte;
      }
  }
    .elementFooter{
        flex-basis: 30%;
        text-align: center;
    }

  #contenaireBoutonProchainement{
        width: 100%;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    #bouton_prochainement{
            width: 30%;
            padding: 1%;
            margin: auto;
            text-align: center;
            background-color: $background-color-header-footer;
            border-radius: 5%;
            color: $color-texte; 
    }  
// section des menus //
#hautdepagemenu{
        width: 100%;
        text-align: center;
        font-size: 0.8em;
            img{
                width: 10%;
            }
            .lienRetourAccueil{

                     font-size: 2em;
                            a{
                            text-decoration: none;
                            color: $background-color-header-footer;
                            }
                            }
    }
    h1{
        text-align: center;
        font-size: 2em;
    } 
.contenaireTitre-detailPageMenuSeul{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    justify-content: space-around;
    font-size: 1.8em;
}
    .element_contenaireTitre-detailPageMenuSeul{
        flex-basis: 33%;
    }
        .element_contenaireTitre-detailPageMenuSeul img{
            max-width: 60%;
        }
    

.contenaire1-detailPageMenuSeul,.contenaire2-detailPageMenuSeul,.contenaire3-detailPageMenuSeul{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
    justify-content: space-around;
}

.element-detailPageMenuSeul:nth-child(1),.element-detailPageMenuSeul:nth-child(3),.element-detailPageMenuSeul:nth-child(5),.element-detailPageMenuSeul:nth-child(7){
    flex-basis: 80%;
    display: flex;
}   
    
.element3-detailPageMenuSeul{
    display: flex;
    flex-basis: 100%;
}
    #basdepagemenu {
        text-align: center;
        img{
            width: 10%;

        } 
    }
#contenairePageMentions{
    padding: 1%;
}
#contenairePageMentions p{
    text-align: justify;
    font-size: 1.5em;
}
#contenairePageMentions h3{
    text-align: center;
    font-size: 2em;
}

.colorMenuChic-partie1{
    color: #B75D1E;
}
.colorMenuChic-partie2{
    color: #935087;
}
.colorMenuChic-partie3{
    color: #5A2FC0;
}
//////////////other media//////////////////


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  body {
    width: 20%;
}
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  body {
    width: 40%;
    margin: auto;
    font-size: 16px;
    background-color: $background-page;
  }
    .menu_contenuPage{
        display: flex;
        width: 48%;
        padding: 1%;
        justify-content: space-around;
        background-color: red;
            transform: scale(1);
            transition-property: transform;
            transition-duration: 400ms;
            &:hover {
                transform: scale(1.05);
                background-color: aliceblue;
                opacity: 1;
            }
        img{
            max-width: 90%
 
        }
    }

    

    
    
    
}
